<template>
    <el-row class="menu_page">
        <el-col>
            <el-menu
                class="el-menu-vertical-demo"
                background-color="#fff"
                text-color="#303133"
                active-text-color="#409eff"
                :default-openeds="['fund']">
                <template v-for="item in items">
                    <el-submenu v-if="item.children" :index="item.path" :key="item.path">
                        <span slot="title" class="font right" v-if="$i18n.locale=='cn'"><i :class="'fa fa-margin '+item.icon"></i>{{item.name}}</span>
                        <span slot="title" class="font" v-if="$i18n.locale=='en'"><i :class="'fa fa-margin '+item.icon"></i>{{item.name}}</span>
                        <div v-if="identity=='user'">
                            <router-link v-for="(citem,cindex) in item.children"
                                         v-if="citem.name!=='服务费流水'&&citem.name!=='用户管理'&&$i18n.locale=='cn'||citem.name!=='Service Fee Flow'&&citem.name!=='User Management'&&$i18n.locale=='en'"
                                         :to="citem.path" :key="cindex">
                                <el-menu-item :index="citem.path">
                                    <span slot="title" class="font1 right" v-if="$i18n.locale=='cn'">{{citem.name}}</span>
                                    <span slot="title" class="font1" v-if="$i18n.locale=='en'">{{citem.name}}</span>
                                </el-menu-item>
                            </router-link>
                        </div>
                        <div v-if="identity=='admin'">
                            <router-link v-for="(citem,cindex) in item.children"
                                         v-if="citem.name!=='用户管理'&&$i18n.locale=='cn'||citem.name!=='User Management'&&$i18n.locale=='en'"
                                         :to="citem.path"
                                         :key="cindex">
                                <el-menu-item :index="citem.path">
                                    <span slot="title" class="font1 right" v-if="$i18n.locale=='cn'">{{citem.name}}</span>
                                    <span slot="title" class="font1" v-if="$i18n.locale=='en'">{{citem.name}}</span>
                                </el-menu-item>
                            </router-link>
                        </div>
                        <div v-if="identity=='administrator'">
                            <router-link v-for="(citem,cindex) in item.children"
                                         :to="citem.path"
                                         :key="cindex">
                                <el-menu-item :index="citem.path">
                                    <span slot="title" class="font1 right" v-if="$i18n.locale=='cn'">{{citem.name}}</span>
                                    <span slot="title" class="font1" v-if="$i18n.locale=='en'">{{citem.name}}</span>
                                </el-menu-item>
                            </router-link>
                        </div>
                    </el-submenu>
                </template>
            </el-menu>
        </el-col>
    </el-row>
</template>
<script>
    import VueEvent from "../../VueEvent.js";
    export default {
        name:'leftaside',
        computed:{
            identity(){
                var that=this;
                VueEvent.$on('identity',function(data){
                    that.data=data;
                });
                return that.data;
            },
            items(){
                return [{
                    icon:'fa-money',
                    name:this.$t('aside.fundmanagement'),
                    path:'fund',
                    children:[{
                        path:'foundlist',name:this.$t('aside.capitalflow')
                    },{
                        path:'servicefeeflow',name:this.$t('aside.servicefeeflow')
                    },{
                        path:'infoshow',name:this.$t('aside.personalinformation')
                    },{
                        path:'usermanagement',name:this.$t('aside.usermanagement')
                    }],
                }/*,{
                    icon:'fa-asterisk',
                    name:this.$t('aside.informationmanagement'),
                    path:'info',
                    children:[{
                        path:'infoshow',name:this.$t('aside.personalinformation')
                    },{
                        path:'usermanagement',name:this.$t('aside.usermanagement')
                    }]
                }*/]
            },
        },
        data(){
            return{
                data:'',
            }
        },
    }
</script>
<style scoped>
    .menu_page {
        position: fixed;
        top: 71px;
        left: 0;
        min-height: 100%;
        background-color: #fff;
        z-index: 99;
    }
    .el-menu {
        border: none;
    }
    .fa-margin {
        margin-right: 5px;
    }
    .el-menu-vertical-demo:not(.el-menu--collapse) {
        width: 250px;
        min-height: 400px;
    }
    .el-menu-vertical-demo {
        width: 35px;
    }
    .el-submenu .el-menu-item {
        min-width: 250px;
    }
    .hiddenDropdown,
    .hiddenDropname {
        display: none;
    }
    a {
        text-decoration: none;
    }
    .font{
        font-size: 14px;
    }
    .font1{
        font-size: 12px;
    }
    .right{
        margin-left: 30px;
    }
</style>
