<template>
    <header class="head-nav">
        <div v-if="this.$store.getters.userInfo">
            <el-row :gutter="20">
                <el-col :span="6" class="logo-container">
                    <img src="../../../assets/logo.png" class="logo" alt=""/>
                    <span class="title">{{$t('header.fundmanagementsystem')}}</span>
                </el-col>
                <el-col :span="10" :push="1" class="money" v-if="this.$store.getters.userInfo.identity=='administrator'||this.$store.getters.userInfo.identity=='admin'">
                    <span v-if="getCurrentCurrency(current.currency)==null" class="costfont" >{{$t('header.totalavailablebalance')}}：<span class="strong">0.00</span>&nbsp;|</span>
                    <span v-else class="costfont" >{{$t('header.totalavailablebalance')}}：<span class="strong">{{getCurrentCurrency(current.currency)}}</span>&nbsp;|</span>
                    <span v-if="getCurrentServiceFee(current.currency)==null" class="costfont">&nbsp{{$t('header.totalavailableservicefee')}}：<span class="strong">0.00</span></span>
                    <span v-else class="costfont" >&nbsp;{{$t('header.totalavailableservicefee')}}：<span class="strong">{{getCurrentServiceFee(current.currency)}}</span></span>
                </el-col>
                <el-col :span="10" :push="1" class="money" v-if="this.$store.getters.userInfo.identity=='user'">
                    <span v-if="getCurrentCurrency(current.currency)==null" class="costfont">{{$t('header.totalavailablebalance')}}：<span class="strong">0.00</span>&nbsp;|</span>
                    <span v-else class="costfont">{{$t('header.totalavailablebalance')}}：<span class="strong">{{getCurrentCurrency(current.currency)}}</span>&nbsp;</span>
                </el-col>
                <el-col :span="2" :push="1" class="money">
                    <div>
                        <el-dropdown>
                            <span class="el-dropdown-link costfont" v-if="!currencys.label">{{$t('header.cn')}}￥<i class="el-icon-arrow-down el-icon&#45;&#45;right"></i></span>
                            <span class="el-dropdown-link costfont" v-if="currencys.label=='CN'">{{$t('header.cn')}}￥<i class="el-icon-arrow-down el-icon&#45;&#45;right"></i></span>
                            <span class="el-dropdown-link costfont" v-if="currencys.label=='PH'">{{$t('header.ph')}}₱<i class="el-icon-arrow-down el-icon&#45;&#45;right"></i></span>
                            <span class="el-dropdown-link costfont" v-if="currencys.label=='US'">{{$t('header.us')}}$<i class="el-icon-arrow-down el-icon&#45;&#45;right"></i></span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item
                                        v-for="item in currencys"
                                        :disabled="item.value==current.currency"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value"
                                        @click.native="currencyChange(item.value,item.label)">
                                    <span v-if="item.value=='cn'">{{$t('header.cn')}}</span>
                                    <span v-if="item.value=='ph'">{{$t('header.ph')}}</span>
                                    <span v-if="item.value=='us'">{{$t('header.us')}}</span>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-col>
                <el-col :span="2" :push="1" class="money">
                    <div>
                        <el-dropdown>
                            <span class="el-dropdown-link costfont">{{$t('header.language')}}<i class="el-icon-arrow-down el-icon--right"></i></span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item
                                        v-for="item in options"
                                        :disabled="item.value==current.language"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value"
                                        @click.native="langChange(item.value)">
                                    {{item.label}}
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-col>
                <el-col :span="4" class="user">
                    <div>
                        <img src="../../../assets/avatar.png" class="avatar" alt=""/>
                        <div class="welcome">
                            <p class="name comename">{{$t('header.welcome')}}</p>
                            <p class="name avatarname">{{this.$store.state.userInfo.name}}</p>
                        </div>
                        <span class="username">
                        <el-dropdown trigger="click" @command="handleCommand">
                            <span class="el-dropdown-link">
                                <i class="el-icon-caret-bottom el-icon--right"></i>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="info">{{$t('header.personalinformation')}}</el-dropdown-item>
                                <el-dropdown-item command="logout">{{$t('header.logout')}}</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </span>
                    </div>
                </el-col>
            </el-row>
        </div>

    </header>
</template>
<script>
    import VueEvent from "../../VueEvent.js";
    export default {
        name:'headernav',
        data(){
            return {
                options: [{
                    value: 'cn',
                    label: '中文',
                },{
                    value: 'en',
                    label: 'English',
                }],
                current:{
                    currency:'cn',
                    language:'cn',
                },
                currencys:[{
                    value:'cn',
                    label:'CN',
                },{
                    value:'ph',
                    label:'PH',
                },{
                    value:'us',
                    label:'US',
                }]
            }
        },
        methods:{
            getCurrentServiceFee(v){
                if(v=='cn'){
                    return this.$store.getters.userInfo.cnprofit=this.moneyFormat(this.$store.getters.userInfo.cnprofit);
                }else if(v=='ph'){
                    return this.$store.getters.userInfo.phprofit=this.moneyFormat(this.$store.getters.userInfo.phprofit);
                }else if(v=='us'){
                    return this.$store.getters.userInfo.usprofit=this.moneyFormat(this.$store.getters.userInfo.usprofit);
                }
            },
            getCurrentCurrency(v){
                if(v=='cn'){
                    return this.$store.getters.userInfo.cn=this.moneyFormat(this.$store.getters.userInfo.cn);
                }else if(v=='ph'){
                    return this.$store.getters.userInfo.ph=this.moneyFormat(this.$store.getters.userInfo.ph);
                }else if(v=='us'){
                    return this.$store.getters.userInfo.us=this.moneyFormat(this.$store.getters.userInfo.us);
                }
            },
            moneyFormat(money){
                if(!money){
                    return money;
                }else{
                    return money.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
            },
            currencyChange(v,label){
                this.current.currency = v;
                this.currencys.label=label;
                this.$store.dispatch("displayCorrespondingData",this.current.currency);
                VueEvent.$emit('current',this.current);
            },
            langChange(v){
                this.current.language = v;
                return this.$i18n.locale = v
            },
            handleCommand(command){
                switch(command){
                    case "info":
                        this.showInfoList();
                        break;
                    case "logout":
                        this.logout();
                        break;
                }
            },
            showInfoList(){
                this.$router.push('/infoshow')
            },
            logout(){
                //清除token
                sessionStorage.removeItem('token');
                //设置Vuex store
                this.$store.dispatch('delAllUserInfo');
                //跳转
                this.$router.push('/login');
            }
        },
    }
</script>
<style scoped>
    .head-nav {
        width: 100%;
        height: 53px;
        padding: 2px;
        background: #fff;
        color: #303133;
        border-bottom: 1px solid #ccc;
    }
    .logo-container {
        line-height: 53px;
    }
    .logo {
        height: 46px;
        width: 50px;
        margin-right: 5px;
        vertical-align: middle;
        display: inline-block;
    }
    .title {
        vertical-align: middle;
        font-size: 18px;
        font-family: "Microsoft YaHei";
        letter-spacing: 3px;
    }
    .user {
        line-height: 53px;
        text-align: right;
        padding-right: 10px;
    }
    .money{
        line-height: 53px;
        text-align: right;
        font-size:14px;
    }
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
    }
    .welcome {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        padding: 0 5px;
    }
    .name {
        line-height: 20px;
        text-align: center;
        font-size: 14px;
    }
    .comename {
        font-size: 12px;
    }
    .costfont {
        font-size: 13px;
    }
    .avatarname {
        color: #409eff;
        font-weight: bolder;
    }
    .username {
        cursor: pointer;
        margin-right: 5px;
    }
    .el-dropdown {
        color: #409EFF;
    }
    .strong{
        font-weight: 700;
    }
</style>
