<template>
    <el-drawer
            :title="dialog.title"
            :before-close="handleClose"
            :visible.sync="dialog.show"
            direction="rtl"
            custom-class="demo-drawer"
            ref="drawer">
        <div class="center">
            <el-form
                    :model="form"
                    :rules="rules"
                    ref="changeForm">
                <el-form-item :label="$t('register.nickname')" prop="nickname" :label-width="formLabelWidth">
                    <el-input v-model="form.nickname" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item :label="$t('register.email')" prop="email" :label-width="formLabelWidth">
                    <el-input v-model="form.email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item :label="$t('register.number')" prop="number" :label-width="formLabelWidth">
                    <el-input v-model="form.number" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item :label="$t('register.oldpassword')" prop="currentPassword" :label-width="formLabelWidth">
                    <el-input :placeholder="$t('register.oldpassword')" v-model="form.currentPassword" show-password></el-input>
                </el-form-item>
                <el-form-item :label="$t('register.newpassword')" prop="newPassword" :label-width="formLabelWidth">
                    <el-input :placeholder="$t('register.newpassword')" v-model="form.newPassword" show-password></el-input>
                </el-form-item>
                <el-form-item style="margin-left:23%">
                    <el-progress :percentage="length" :status="type"></el-progress>
                </el-form-item>
                <el-form-item :label="$t('register.confirmpassword')" prop="confirmNewPassword" :label-width="formLabelWidth">
                    <el-input :placeholder="$t('register.confirmpassword')" v-model="form.confirmNewPassword" show-password></el-input>
                </el-form-item>
            </el-form>
            <div class="right">
                <el-button @click="cancelForm('changeForm')">{{$t('infoshow.cancel')}}</el-button>
                <el-button type="primary" @click="addForm('changeForm')">{{$t('infoshow.modify')}}</el-button>
            </div>
        </div>
    </el-drawer>
</template>
<script>
    import Config from "../../../vue.config.js";
    export default {
        name:'change',
        props:{
            dialog:Object,
        },
        data(){
            var nickname=(rule,value,callback)=>{
                if(value===''){
                    callback(new Error(this.$t('registerCheck.checknicknamenull')));
                    return setTimeout(this.setTimeName,"1000");
                }else{
                    if(value.length<3){
                        callback(new Error(this.$t('registerCheck.checknicknamelength')));
                        return setTimeout(this.setTimeName,"1000");
                    }else{
                        if(value.length>15){
                            callback(new Error(this.$t('registerCheck.checknicknamelength1')));
                            return setTimeout(this.setTimeName,"1000");
                        }
                    }
                    callback();
                }
            };
            var number=(rule,value,callback)=>{
                var reg=/^[0-9]\d*$|^0$/;
                if(value===''){
                    callback(new Error(this.$t('registerCheck.checknumbernull')))
                    return setTimeout(this.setTimeNumber,"1000");
                }else if(reg.test(value)!=true){
                    callback(new Error(this.$t('registerCheck.phonenumbercanonlybeaninteger')));
                    return setTimeout(this.setTimeNumber,"1000");
                }
                callback();
            };
            var currentPassword = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error(this.$t('registerCheck.checkpwdnull')));
                } else {
                    if(value.length<6){
                        callback(new Error(this.$t('registerCheck.checknickpwdlength')));
                    }else{
                        if (this.form.confirmNewPassword!== '') {
                            this.$refs.changeForm.validateField('checkpwd');
                        }
                    }
                    callback();
                }
            };
            var newPassword = (rule, value, callback) => {
                if(value ==this.form.currentPassword){
                    callback(new Error(this.$t('infoshow.cannotbethesameastheoldpassword')));
                }else if (value === '') {
                    callback(new Error(this.$t('registerCheck.checkpwdnull')));
                } else {
                    if(value.length<6){
                        callback(new Error(this.$t('registerCheck.checknickpwdlength')));
                    }else{
                        if (this.form.confirmNewPassword !== '') {
                            this.$refs.changeForm.validateField('checkpwd');
                        }
                    }
                    callback();
                }
            };
            var confirmNewPassword = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error(this.$t('registerCheck.checkpwd1null')));
                } else if (value !== this.form.newPassword) {
                    callback(new Error(this.$t('registerCheck.checkpwdinconsistent')));
                } else {
                    callback();
                }
            };
            return {
                rules: {
                    nickname:[
                        {required:true,validator:nickname,trigger:'blur'}
                    ],
                    email:[
                        {type:'email',required:true,message:this.$t('registerCheck.checkemail'),trigger:'blur'}
                    ],
                    number:[
                        {required:true,validator:number,trigger:'blur'}
                    ],
                    currentPassword:[
                        {required:true,validator:currentPassword,trigger:'blur'}
                    ],
                    newPassword:[
                        {required:true,validator:newPassword,trigger:'blur'}
                    ],
                    confirmNewPassword:[
                        {required:true,validator:confirmNewPassword,trigger:'blur'}
                    ]
                },
                form: {
                    nickname:this.$store.getters.userInfo.name,
                    number:this.$store.getters.userInfo.number,
                    email:this.$store.getters.userInfo.email,
                    currentPassword:'',
                    newPassword:'',
                    confirmNewPassword:'',
                    img:'',
                },
                formLabelWidth: '100px',
                timer: null,
                length:0,
                type:'exception',
            };
        },
        methods: {
            progressBar(v){
                var a=16.5;
                if(v.length==0){
                    this.type='exception';
                    return this.length=0;
                }
                if(v==this.form.currentPassword){
                    this.type='exception';
                    return this.length=99;
                }
                if(v.length==6||v.length>6){
                    this.type='success';
                    return this.length=100;
                }
                for(var i=1;i<=v.length;i++){
                    if(v.length==i){
                        this.length=i*a;
                        this.type='exception';
                    }
                }
            },
            setTimeName(){
                this.form.nickname=this.$store.getters.userInfo.name;
            },
            setTimeNumber(){
                this.form.number=this.$store.getters.userInfo.number;
            },
            addForm(form){
                this.$refs[form].validate((valid)=>{
                    if(valid){
                        this.$axios.post(Config.devServer.proxy["/api"].target+"change-password",this.form)
                            .then(res=>{
                                if(res.data.code==402){
                                    return this.$message.error(res.data.msg);
                                }
                                this.$message({
                                    message:this.$t('dialog.savedsuccessfully'),
                                    type:'success'
                                });
                                this.dialog.show=false;
                                this.$axios.post(Config.devServer.proxy["/api"].target+"user-info")
                                    .then(res=>{
                                        sessionStorage.setItem('userInfo',JSON.stringify(res.data.data));
                                        this.$store.dispatch("getCurrentUserInfo",res.data.data);
                                        this.form.nickname=res.data.data.name;
                                        this.form.number=res.data.data.number;
                                        this.form.email=res.data.data.email;
                                        this.form.currentPassword='';
                                        this.form.newPassword='';
                                        this.form.confirmNewPassword='';
                                        this.form.img='';
                                    }).catch(err=>{
                                    console.log(err);
                                });
                            })
                    }
                });
            },
            handleClose(done) {
                if(this.dialog.loading) {
                    return;
                }
                this.$confirm(this.$t('infoshow.areyousureyouwanttoclose?'))
                    .then(_ => {
                        done();
                        this.form.nickname=this.$store.getters.userInfo.name;
                        this.form.number=this.$store.getters.userInfo.number;
                        this.form.email=this.$store.getters.userInfo.email;
                        this.form.currentPassword='';
                        this.form.newPassword='';
                        this.form.confirmNewPassword='';
                        this.form.img='';
                    })
                    .catch(_ => {});
            },
            cancelForm(form) {
                this.dialog.show = false;
                this.form.nickname=this.$store.getters.userInfo.name;
                this.form.number=this.$store.getters.userInfo.number;
                this.form.email=this.$store.getters.userInfo.email;
                this.form.currentPassword='';
                this.form.newPassword='';
                this.form.confirmNewPassword='';
                this.form.img='';
                this.$refs[form].resetFields();
                clearTimeout(this.timer);
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$axios.post(Config.devServer.proxy["/api"].target+"register",this.registerUser)
                            .then(res=>{
                                if(res.data.error!=undefined){
                                    return this.$message.error('帐号已存在');
                                }
                                //注册成功
                                this.$message({
                                    message:this.$t('dialog.registrationsuccess'),
                                    type:'success'
                                });
                                this.registerUser.pass='';
                                this.registerUser.checkPass='';
                                this.registerUser.nickName='';
                                this.registerUser.email='';
                                this.registerUser.number='';
                                this.registerUser.rate='0';
                                this.registerUser.identity='';
                                this.dialog.show = false;
                                this.$emit('update')
                            }).catch(err=>{
                            this.$message.error(this.$t('dialog.registrationfailed'));
                        });
                    } else {
                        this.$message({
                            message:"必填项请填写完",
                            type:'warning'
                        });
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        },
        watch:{
            'form.newPassword':function(v,o){
                this.progressBar(v);
            }
        }
    };
</script>
<style scoped>
    .submit_btn{
        width:100%;
    }
    .center{
        margin:10px;
    }
    .right{
        float: right;
    }
</style>
