<template>
    <el-dialog
            :title="dialog.title"
            :visible.sync="dialog.show"
            :close-on-press-escape='false'
            :modal-append-to-body="false"
            width="30%">
        <div class="register">
            <section class="form_container">
                <el-form :model="registerUser" status-icon :rules="rules" ref="registerForm" label-width="100px" class="registerForm">
                    <el-form-item  v-bind:label="$t('register.nickname')+':'" prop="nickName">
                        <el-input type="text" v-model="registerUser.nickName" autocomplete="off" v-bind:placeholder="$t('register.nickname')"></el-input>
                    </el-form-item>
                    <el-form-item v-bind:label="$t('register.email')+':'" prop="email">
                        <el-input type="email" v-model="registerUser.email" v-bind:placeholder="$t('register.email')"></el-input>
                    </el-form-item>
                    <!--<el-form-item v-bind:label="$t('register.password')+':'" prop="pass">
                        <el-input type="password" v-model="registerUser.pass" autocomplete="off" v-bind:placeholder="$t('register.password')"></el-input>
                    </el-form-item>
                    <el-form-item v-bind:label="$t('register.confirmpassword')+':'" prop="checkPass">
                        <el-input type="password" v-model="registerUser.checkPass" autocomplete="off" v-bind:placeholder="$t('register.confirmpassword')"></el-input>
                    </el-form-item>-->
                    <el-form-item v-bind:label="$t('register.number')+':'" prop="number">
                        <el-input type="text" v-model="registerUser.number" autocomplete="off" v-bind:placeholder="$t('register.number')"></el-input>
                    </el-form-item>
                    <el-form-item :label="$t('register.chooseidentity')+':'" prop="identity" >
                        <el-select v-model="registerUser.identity" :placeholder="$t('register.chooseidentity')" class="submit_btn">
                            <el-option :label="$t('register.manager')" value="admin"></el-option>
                            <el-option :label="$t('register.employee')" value="user"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item :label="$t('dialog.rate')+':'" v-if="registerUser.identity=='user'">
                        <el-input-number v-model="registerUser.rate" :precision="2" :step="0.01" :max="5" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" class="submit_btn" @click="submitForm('registerForm')">{{$t('register.registered')}}</el-button>
                        <!--<el-button @click="resetForm('registerForm')" class="submit_btn">重置</el-button>-->
                    </el-form-item>
                </el-form>
            </section>
        </div>
    </el-dialog>
</template>
<script>
    import Config from "../../../vue.config.js";
    export default {
        name:'dialogfound',
        props:{
            dialog:Object,
        },
        data(){
            var checkAge=(rule,value,callback)=>{
                if(!value){
                    return callback(new Error('年龄不能为空'));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('请输入数字值'));
                    } else {
                        if (value < 18) {
                            callback(new Error('必须年满18岁'));
                        } else {
                            callback();
                        }
                    }
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error(this.$t('registerCheck.checkpwdnull')));
                } else {
                    if(value.length<6){
                        callback(new Error(this.$t('registerCheck.checknickpwdlength')));
                    }else{
                        if (this.registerUser.checkPass !== '') {
                            this.$refs.registerForm.validateField('checkPass');
                        }
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error(this.$t('registerCheck.checkpwd1null')));
                } else if (value !== this.registerUser.pass) {
                    callback(new Error(this.$t('registerCheck.checkpwdinconsistent')));
                } else {
                    callback();
                }
            };
            var validateNickname=(rule,value,callback)=>{
                if(value===''){
                    callback(new Error(this.$t('registerCheck.checknicknamenull')))
                }else{
                    if(value.length<3){
                        callback(new Error(this.$t('registerCheck.checknicknamelength')))
                    }else{
                        if(value.length>15){
                            callback(new Error(this.$t('registerCheck.checknicknamelength1')))
                        }
                    }
                    callback();
                }
            };
            var number=(rule,value,callback)=>{
                var reg=/^[0-9]\d*$|^0$/;
                if(value===''){
                    callback(new Error(this.$t('registerCheck.checknumbernull')))
                }else if(reg.test(value)!=true){
                    callback(new Error(this.$t('registerCheck.phonenumbercanonlybeaninteger')));
                    return setTimeout(this.setTimeAmount,"1000");
                }
                callback();
            };
            var identity=(rule,value,callback)=>{
                if(value==''){
                    callback(new Error(this.$t('registerCheck.checkidentitynull')))
                }
                callback();
            };
            return {
                registerUser: {
                    nickName: '',
                    email:'',
                    number:'',
                    rate:'0',
                    identity:'',
                },
                rules: {
                    pass: [
                        { required:true,validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { required:true,validator: validatePass2, trigger: 'blur' }
                    ],
                    age: [
                        { required:true,validator: checkAge, trigger: 'blur' }
                    ],
                    nickName:[
                        { required:true,validator:validateNickname,trigger:'blur'}
                    ],
                    email:[
                        {type:'email',required:true,message:this.$t('registerCheck.checkemail'),trigger:'blur'}
                    ],
                    number:[
                        {required:true,validator:number,trigger:'blur'}
                    ],
                    identity:[
                        {required:true,validator:identity,trigger:'blur'}
                    ],
                }
            };
        },
        methods: {
            setTimeAmount(){
                this.registerUser.number='';
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$axios.post(Config.devServer.proxy["/api"].target+"register",this.registerUser)
                            .then(res=>{
                                if(res.data.error!=undefined){
                                    return this.$message.error(this.$t('register.accountalreadyexists'));
                                }
                                if(res.data.code==402){
                                    return this.$message.error(this.$t('register.accountregistrationsuccessful'));
                                }
                                //注册成功
                                this.$message({
                                    message:this.$t('dialog.registrationsuccess'),
                                    type:'success'
                                });
                                this.registerUser.pass='';
                                this.registerUser.checkPass='';
                                this.registerUser.nickName='';
                                this.registerUser.email='';
                                this.registerUser.number='';
                                this.registerUser.rate='0';
                                this.registerUser.identity='';
                                this.dialog.show = false;
                                this.$emit('update')
                            }).catch(err=>{
                            this.$message.error(this.$t('dialog.registrationfailed'));
                        });
                    } else {
                        this.$message({
                            message:this.$t('register.pleasefillintherequiredfields'),
                            type:'warning'
                        });
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
        }
    };
</script>
<style scoped>
    .submit_btn{
        width:100%;
    }
</style>
