<template>
    <div class="infoshow">
        <el-row type="flex" class="row-bg" justify="center">
            <el-col :span="8">
                <div class="user">
                    <img src="https://www.gravatar.com/avatar/anything?s=200&d=mm" class="avatar" alt=""/>
                    <span>{{$t('infoshow.modifyinformation')}}</span>
                    <el-link :underline="false" @click="onUpdate()"><i class="el-icon-edit"></i></el-link>
                </div>
            </el-col>
            <el-col :span="16">
                <div class="userinfo">
                    <div class="user-item">
                        <i class="fa fa-user"></i>
                        <span>{{this.$store.getters.userInfo.name}}</span>
                    </div>
                    <div class="user-item">
                        <i class="fa fa-cog"></i>
                        <span>{{this.$store.getters.userInfo.identity}}</span>
                    </div>
                </div>
            </el-col>
        </el-row>
        <Change :dialog="dialog"></Change>
    </div>
</template>
<script>
    import Change from "./Change.vue";
    import Config from "../../../vue.config.js"
    export default {
        name:'infoshow',
        computed:{
            user(){
                return this.$store.getters.user;
            },
        },
        components:{
            Change,
        },
        data(){
            return {
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: '180px',
                timer: null,
                dialog:{
                    show:false,
                    title:'',
                    loading: false,
                },
            }
        },
        methods:{
            defaulttag(){
                if(this.$store.getters.userInfo.defaulttag=="1"){
                    this.onUpdate();
                }
            },
            onUpdate(){
                this.dialog={
                    show:true,
                    title:this.$t('infoshow.modifyinformation'),
                    loading: false,
                }
            }
        },
        created(){
            this.defaulttag();
        }
    }
</script>
<style scoped>
    .infoshow {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        /* padding: 16px; */
    }
    .row-bg {
        width: 100%;
        height: 100%;
    }
    .user {
        text-align: center;
        position: relative;
        top: 30%;
    }
    .user img {
        width: 150px;
        border-radius: 50%;
    }
    .user span {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .userinfo {
        height: 100%;
        background-color: #eee;
    }
    .user-item {
        position: relative;
        top: 30%;
        padding: 26px;
        font-size: 28px;
        color: #333;
    }
</style>
