<template>
    <div class="fillcontain">
        <div>
            <el-form
                    :inline="true"
                    ref="search"
                    :model="search">
                <el-form-item :label="$t('foundlist.search')+'：'" style="margin-left: 30px">
                    <el-input
                            size="mini"
                            v-model="input"
                            clearable>
                    </el-input>
                </el-form-item>
                <el-form-item class="btnRight" v-if="current.identity!='admin'&&current.identity!='user'">
                    <el-button type="primary" size="mini" icon="view" @click="onAddMoney()">{{$t('foundlist.addto')}}</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="table_container">
            <el-table
                    @cell-dblclick="changeInput"
                    @sort-change='tableSortChange'
                    size="mini"
                    :data="tableData"
                    style="width: 100%"
                    :max-height="tableHeight"
                    :default-sort="{prop:'date',order:'descending'}"
                    border>
                <el-table-column
                        prop="name"
                        :label="$t('foundlist.nickname')"
                        align="center"
                        min-width="10%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'name')">
                <template slot-scope="scope">
                    <el-input
                            v-if="showEdit[scope.$index]['name']"
                            v-model="scope.row.name"
                            @change="handleEdit(scope.row, scope.$index)"
                            @blur="inputBlur"
                            @focus="saveData(scope.$index,scope.row)"
                            v-focus/>
                    <span v-if="!showEdit[scope.$index]['name']">{{scope.row.name}}</span>
                </template>
                </el-table-column>
                <el-table-column
                        prop="number"
                        :label="$t('foundlist.telephonenumber')"
                        align="center"
                        min-width="14%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'number')">
                    <template slot-scope="scope">
                        <el-input
                                v-if="showEdit[scope.$index]['number']"
                                v-model="scope.row.number"
                                @change="handleEdit(scope.row, scope.$index)"
                                @blur="inputBlur"
                                @focus="saveData(scope.$index,scope.row)"
                                v-focus/>
                        <span v-if="!showEdit[scope.$index]['number']">{{scope.row.number}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="email"
                        :label="$t('foundlist.email')"
                        align="center"
                        min-width="21%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'email')">
                    <template slot-scope="scope">
                        <el-input
                                v-if="showEdit[scope.$index]['email']"
                                v-model="scope.row.email"
                                @change="handleEdit(scope.row, scope.$index)"
                                @blur="inputBlur"
                                @focus="saveData(scope.$index,scope.row)"
                                v-focus/>
                        <span v-if="!showEdit[scope.$index]['email']">{{scope.row.email}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="rate"
                        :label="$t('foundlist.defaultrate')"
                        align="center"
                        min-width="13%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'rate')">
                    <template slot-scope="scope">
                        <el-input-number
                                v-if="showEdit[scope.$index]['rate']"
                                size="mini"
                                :precision="2"
                                :step="0.01"
                                :max="5"
                                :min="0"
                                v-model="scope.row.rate"
                                @change="handleEdit(scope.row, scope.$index)"
                                @focus="saveData(scope.$index,scope.row)"
                                v-focus>
                        </el-input-number>
                        <span v-if="!showEdit[scope.$index]['rate']&&scope.row.rate!=0">{{scope.row.rate}}%</span>
                        <span v-if="!showEdit[scope.$index]['rate']&&scope.row.rate==0">N/A</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="cn"
                        :label="$t('foundlist.cn')"
                        align="center"
                        min-width="14%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'cn')">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{scope.row.cn|numformat}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="ph"
                        :label="$t('foundlist.ph')"
                        align="center"
                        min-width="14%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'ph')">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{scope.row.ph|numformat}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                        prop="us"
                        :label="$t('foundlist.us')"
                        align="center"
                        min-width="14%"
                        :sortable="true"
                        :sort-method="(a,b) => sortMethod(a,b,'us')">
                    <template slot-scope="scope">
                        <span style="margin-left: 10px">{{scope.row.us|numformat}}</span>
                    </template>
                </el-table-column>
            </el-table>
            <el-row>
                <el-col :span="24">
                    <div class="pagination">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="paginations.currentPage"
                                :page-sizes="paginations.pageSizes"
                                :page-size="paginations.pageSize"
                                :layout="paginations.layout"
                                :total="paginations.total">
                        </el-pagination>
                    </div>
                </el-col>
            </el-row>
        </div>
        <Dialog :dialog="dialog" @update="getProfile"></Dialog>
    </div>
</template>
<script>
    import VueEvent from "../../VueEvent.js";
    import Config from "../../../vue.config.js";
    import Dialog from "./Dialog.vue";
    import pinyin from "js-pinyin";
    export default {
        name:'usermanagement',
        directives: {
            focus: {
                // 指令的定义
                inserted: function (el) {
                    el.getElementsByTagName('input')[0].focus();
                    // el.focus()
                }
            }
        },
        components:{
            Dialog
        },
        filters: {
            ellipsis(value){
                if(!value)return '';
                if(value.length>5) {
                    return value.slice(0,5)+'...';
                }
                return value
            },
            numformat(value){
                return value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            },
            addformat(value){
                var result = (value.toString()).indexOf(".");
                if(result!= -1) {
                    return value;
                } else {
                    return value+'.00';
                }
            }
        },
        data(){
            return {
                showEdit: [],
                input:"",
                search:{
                    startTime:'',
                    endTime:'',
                },
                tableHeight:0,
                paginations:{
                    currentPage:1,//当前页数
                    pageSizes:[25, 50, 100],//每页显示多少条
                    pageSize:25,//一页显示多少条
                    layout:"total,sizes,prev,pager,next,jumper",
                    total:0//总数
                },
                dialog:{
                    show:false,
                    title:'',
                    option:'edit',
                },
                form:{
                    action:'deposit',
                    describe:'',
                    income:'',
                    expend:'',
                    cash:'',
                    remark:'',
                    id:''
                },
                current:{
                    currency:'cn',
                    identity:'',
                    id:'',
                },
                allTableData:[],
                tableData:[],
                filterTableData:[],
                fuzzySearch:[],
                name:'',
                number:'',
                email:'',
                page:1,
            };
        },
        created(){
            this.getUserInfo();
        },
        methods:{
            sortMethod(a,b,column){
                if(column=='rate'||column=='number'||column=='cn'||column=='ph'||column=='us'){
                    return a[column]-b[column];
                }
                var at=pinyin.getCamelChars(a[column]);
                var bt=pinyin.getCamelChars(b[column]);
                if(at>bt){
                    return -1
                }else{
                    return 1
                }
            },
            // 初始化单元格显示状态
            setShowEditInit () {
                for (let item of this.showEdit) {
                    for (let innerItem in item) {
                        item[innerItem] = false
                    }
                }
            },
            // 设置单元显示转态数据
            setShowEdit () {
                let tempShowEdit = [];
                for (let item of this.tableData) {
                    let tempShow = {};
                    for (let innerItem in item) {
                        tempShow[innerItem] = false
                    }
                    tempShowEdit.push(tempShow);
                }
                this.showEdit = tempShowEdit;
            },
            // 切换单元格为编辑
            changeInput (row, column, cell, event) {
                this.setShowEditInit();
                let nowObj = column.property;
                let index = this.tableData.indexOf(row);
                this.showEdit[index][nowObj] = !this.showEdit[index][nowObj];
            },
            saveData(index,row){
                this.name=row.name;
                this.number=row.number;
                this.email=row.email;
                this.rate=row.rate;
            },
            handleEdit (row, index) {
                var reg=/^[0-9]\d*$|^0$/;
                var reg1= /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                var reg2= /^\d+(\.\d+)?$/;
                if(row.name.length>15){
                    this.$message.error(this.$t('usermanagement.nicknamecannotexceed15words'));
                    this.tableData[index].name=this.name;
                }else if(row.name.length<3&&row.name.length!=''){
                    this.$message.error(this.$t('usermanagement.nicknamecannotbelessthan3words'));
                    this.tableData[index].name=this.name;
                }else if(row.name.length==''){
                    this.$message.error(this.$t('usermanagement.nicknamecannotbeempty'));
                    this.tableData[index].name=this.name;
                }else if(row.number==''){
                    this.$message.error(this.$t('usermanagement.phonenumbercannotbeempty'));
                    this.tableData[index].number=this.number;
                }else if(reg.test(row.number)!=true){
                    this.$message.error(this.$t('usermanagement.phonenumbercanonlybeaninteger'));
                    this.tableData[index].number=this.number;
                }else if(row.number.length>15){
                    this.$message.error(this.$t('usermanagement.mobilenumbercannotexceed15digits'));
                    this.tableData[index].number=this.number;
                }else if(row.number.length<7){
                    this.$message.error(this.$t('usermanagement.mobilenumbercannotbelessthan7digits'));
                    this.tableData[index].number=this.number;
                }else if(row.email.length==''){
                    this.$message.error(this.$t('usermanagement.emailcannotbeempty'));
                    this.tableData[index].email=this.email;
                }else if(!reg1.test(row.email)){
                    this.$message.error(this.$t('usermanagement.incorrectmailboxformat'));
                    this.tableData[index].email=this.email;
                }else if(row.rate==''&&row.rate!=0){
                    this.$message.error(this.$t('usermanagement.ratecannotbeempty'));
                    this.tableData[index].rate=this.rate;
                }else if(row.rate>5){
                    this.$message.error(this.$t('usermanagement.ratecannotexceed5%'));
                    this.tableData[index].rate=this.rate;
                }else if(reg2.test(row.rate)==false){
                    this.$message.error(this.$t('usermanagement.ratecannotbeempty'));
                    this.tableData[index].rate=this.rate;
                }else{
                    this.tableData[index]=row;
                    this.$axios.post(Config.devServer.proxy["/api"].target+"modifyCurrentUserInformation",this.tableData[index])
                        .then(res=>{
                            if(res.data.code==200){
                                this.$message({
                                    type:"success",
                                    message:this.$t('usermanagement.savedsuccessfully')
                                });
                            }
                        })
                        .catch(err=>{
                        this.$message.error(this.$t('usermanagement.operationerror'));
                    })
                }
            },
            // 失焦
            inputBlur () {
                this.setShowEditInit();
            },
            tableSortChange(column){
            },
            searchFor(){
                if(this.input){
                    // filter()方法创建一个新的数组，新数组中的元素是通过检查指定数组中符合条件的所有元素。
                    // 注意：filter()不会对空数组进行检测。
                    // 注意：filter()不会改变原始数组。
                    this.allTableData=this.fuzzySearch.filter(data=>{
                        // some() 方法用于检测数组中的元素是否满足指定条件;
                        // some() 方法会依次执行数组的每个元素：
                        // 如果有一个元素满足条件，则表达式返回true , 剩余的元素不会再执行检测;
                        // 如果没有满足条件的元素，则返回false。
                        // 注意： some() 不会对空数组进行检测。
                        // 注意： some() 不会改变原始数组。
                        return Object.keys(data).some(key=>{
                            if(this.input=="存款"){
                                this.input='deposit';
                            }else if(this.input=="提款"){
                                this.input='withdraw';
                            }else if(this.input=="转账"){
                                this.input='transfer';
                            }else if(this.input=="取出手续费"){
                                this.input='withdraw service fee';
                            }
                            // indexOf() 返回某个指定的字符在某个字符串中首次出现的位置，如果没有找到就返回-1；
                            // 该方法对大小写敏感！所以之前需要toLowerCase()方法将所有查询到内容变为小写。
                            return String(data[key]).toLowerCase().indexOf(this.input)>-1
                        });
                    });
                    this.setPaginations();
                }
                if(this.input==''){
                    this.allTableData=this.fuzzySearch;
                    this.setPaginations();
                }
            },
            getUserInfo(){
                if(!this.$store.state.currency==''){
                    this.current.currency=this.$store.state.currency;
                }
                this.$axios.post(Config.devServer.proxy["/api"].target+"user-info")
                    .then(res=>{
                        this.current.identity=res.data.data.identity;
                        this.current.id=res.data.data.id;
                        sessionStorage.setItem('userInfo',JSON.stringify(res.data.data));
                        this.$store.dispatch("getCurrentUserInfo",res.data.data);
                        this.$axios.post(Config.devServer.proxy["/api"].target+'getAllUserInfo')
                            .then(res=>{
                                if(res.data.code!==401){
                                    //this.tableData=res.data;
                                    this.allTableData = res.data.data;
                                    this.filterTableData=res.data.data;
                                    this.fuzzySearch=res.data.data;
                                    //设置分页数据
                                    this.setPaginations();
                                }else{
                                    this.$message.error(this.$t('usermanagement.insufficientpermissions'))
                                    this.$router.push('/index');
                                }
                            })
                            .catch(err=>console.log(err));
                    }).catch(err=>{
                    console.log(err);
                });
            },
            getProfile(){
                this.$axios.post(Config.devServer.proxy["/api"].target+'getAllUserInfo',this.current)
                    .then(res=>{
                        this.allTableData=res.data.data;
                        this.filterTableData =res.data.data;
                        this.fuzzySearch=res.data.data;
                        //设置分页数据
                        this.setPaginations();
                    })
                    .catch(err=>console.log(err));
            },
            setPaginations(){
                //分页属性设置
                this.paginations.total=this.allTableData.length;
                this.paginations.currentPage=this.page;
                this.paginations.pageSize=25;
                if(this.paginations.currentPage>1){
                    this.handleCurrentChange(this.paginations.currentPage);
                }else if(this.paginations.currentPage==1){
                    //设置默认的分页数据
                    this.tableData=this.allTableData.filter((item,index)=>{
                        return index<this.paginations.pageSize;
                    })
                }
            },
            handleCurrentChange(page) {
                // 当前页
                this.page=page;
                let sortnum = this.paginations.pageSize * (page - 1);
                let table = this.allTableData.filter((item, index) => {
                    return index >= sortnum;
                });
                // 设置默认分页数据
                this.tableData = table.filter((item, index) => {
                    return index < this.paginations.pageSize    ;
                });
            },
            handleSizeChange(val) {
                //切换size
                this.paginations.currentPage=1;
                this.paginations.pageSize=val;
                this.tableData=this.allTableData.filter((item,index)=>{
                    return index<val;
                });
            },
            onAddMoney(){
                this.dialog = {
                    show:true,
                    title:this.$t('dialog.userregistration'),
                    option:'add'
                };
            },
        },
        watch:{
            input:function(){
                this.searchFor();
            },
            tableData: function () {
                this.setShowEdit()
            }
        },
        mounted(){
            this.$nextTick(()=>{
                this.tableHeight=window.innerHeight-200;
            });

        },
    }
</script>
<style scoped>
    .el-table th.gutter,
    .el-table colgroup.gutter{
        display: table-cell!important;
    }
    .fillcontain {
        width: 100%;
        height: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
    .btnRight {
        float: right;
    }
    .pagination {
        text-align: right;
        margin-top: 10px;
    }
</style>
