<template>
    <div class="index">
        <Header></Header>
        <Aside></Aside>
        <div class="rightContainer">
            <router-view></router-view>
        </div>
    </div>
</template>
<script>
    import Aside from "./components/Aside.vue";
    import Header from "./components/Header.vue";
    export default {
        name:'layout',
        components:{
            Aside,
            Header,
        },
    }
</script>
<style scoped>
    .index {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .rightContainer {
        position: relative;
        top: 0;
        left: 250px;
        width: calc(100% - 250px);
        height: calc(100%);
        overflow: auto;
    }
</style>