<template>
    <div class="notfind">
        <img src="../assets/404.gif" alt=""/>
    </div>
</template>
<style scoped>
    .notfind{
        width:100%;
        height:100%;
        overflow:hidden;
    }
    .notfind img{
        width:100%;
        height:100%;
    }
</style>