<template>
    <div class="conainer">
        <section class="login">
            <span class="title">用户登录</span>
            <el-form :model="loginUser" status-icon :rules="rules" ref="loginForm" label-width="100px" class="loginForm">
                <el-form-item v-bind:label="$t('register.name')" prop="emailOrContactNumber">
                    <el-input @keyup.enter.native="enterSubmitForm('loginForm')" type="text" v-model="loginUser.emailOrContactNumber" v-bind:placeholder="$t('register.number')"></el-input>
                </el-form-item>
                <el-form-item v-bind:label="$t('register.password')" prop="password">
                    <el-input @keyup.enter.native="enterSubmitForm('loginForm')" type="password" v-model="loginUser.password" autocomplete="off" v-bind:placeholder="$t('register.password')"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="submit_btn" @click="submitForm('loginForm')">登录</el-button>
                </el-form-item>
            </el-form>
        </section>
        <div class="logo">
            <div class="box1">
                <p class="color left">苹果商店</p>
                <h1 class="left">用于苹果设备</h1>
                <a target="_blank" href="https://apps.apple.com/ph/app/tonghui/id1472677537">
                    <img src="../assets/apple.png" class="size" alt="苹果下载"/>
                </a>
            </div>
            <div class="box2">
                <h1 style="text-align: center;font-size: 18px">手机APP</h1>
                <p class="color  top" style="text-align: center">用如下方式可以获得我们的APP</p>
                <a target="_blank" :href="url">
                    <img src="../assets/qrapp3-cn.png" class="size1  top" alt="手机APP"/>
                </a>
            </div>
            <div class="box1">
                <p class="color right1">谷歌商店</p>
                <h1 class="right">用于安卓设备</h1>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.wyc.cashflow&hl=en_US">
                    <img src="../assets/android.png" class="size" alt="谷歌下载"/>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
    import Config from "../vue.config.js";
    export default{
        name:'login',
        data(){
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error(this.$t('registerCheck.checkpwdnull')));
                }else{
                    if(value.length<6){
                        callback(new Error(this.$t('registerCheck.checknickpwdlength')));
                    }
                    callback();
                }
            };
            return {
                url:Config.devServer.proxy["/api"].target1+"cashflow.apk",
                options:[{
                    value:'manager',
                    label:this.$t('register.manager')
                },{
                    value:'employee',
                    label:this.$t('register.employee')
                }],
                loginUser: {
                    password: '',
                    emailOrContactNumber:'',
                },
                rules: {
                    password: [
                        { required:true,validator: validatePass, trigger: 'blur' }
                    ],
                    emailOrContactNumber:[
                        {required:true,message:this.$t('registerCheck.checknicknamenull'),trigger:'blur'}
                    ],
                },
            };
        },
        methods: {
            enterSubmitForm(formName){
                this.submitForm(formName);
            },
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$axios.post(Config.devServer.proxy["/api"].target+"login",this.loginUser)
                            .then(res=>{
                                if(res.data.code==402){
                                    this.$message.error(this.$t('login.accountorpasswordincorrect'));
                                    return this.$router.push('/login');
                                }
                                //拿到token
                                const token='Bearer '+res.data.data.token;
                                //存储到localStorage里面
                                sessionStorage.setItem('token',token);
                                this.$message({
                                    message:this.$t('login.welcome')+res.data.data.nick_name,
                                    type:'success'
                                });
                                this.$router.push('/index');
                            }).catch(err=>{
                            this.$message.error(this.$t('login.accountorpasswordincorrect'));
                            this.$router.push('/login');
                        });
                    }else{
                        this.$message({
                            message:this.$t('login.pleasefillintherequiredfields'),
                            type:'warning'
                        });
                    }
                });
            }
        }
    }
</script>
<style scoped>
    .conainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f4;
        height: 100%;
    }
    .logo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .title {
        font-family: "Microsoft YaHei";
        font-weight: bold;
        font-size: 18px;
        margin-left:42%;
        margin-top:10px;
    }
    .loginForm {
        margin-top:10px;
        padding: 0px 110px 30px 20px;
        border-radius: 5px;
    }
    .submit_btn {
        width: 100%;
    }
    .tiparea p a {
        color: #409eff;
    }
    .size{
        width:295px;
        height: 120px;
    }
    .size1{
        width:200px;
        height: 410px;
    }
    .color{
        color: green;
        font-size:12px;
    }
    .left{
        margin-left: 30px;
    }
    .top{
        margin-top:11%;
    }
    .right{
        margin-left: 170px;
    }
    .right1{
        margin-left: 217px;
    }
    .box1{
        margin-top: 10%;
    }
    .box2{
        margin-top: 0%;
        margin-left: 1%;
    }
</style>
