<template>
    <el-dialog
            :title="dialog.title"
            :visible.sync="dialog.show"
            :close-on-press-escape='false'
            :modal-append-to-body="false"
            width="40%">
        <div class="form" v-if="this.$store.getters.userInfo">
            <el-form
                    ref="form"
                    :model="form"
                    :rules="formRules"
                    label-width="100px"
                    style="margin:10px;width:auto;">
                <div v-if="this.$store.getters.userInfo.identity=='administrator'">
                    <el-form-item :label="$t('dialog.transactiontype')+':'">
                        <el-select v-model="form.action" style="width: 100%">
                            <el-option
                                    v-for="(formtype,index) in format_type_list"
                                    :key="index"
                                    :label="formtype.label"
                                    :value="formtype.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div v-if="this.$store.getters.userInfo.identity=='user'">
                    <el-form-item :label="$t('dialog.transactiontype')+':'">
                        <el-select v-model="form.action='transfer'" style="width: 100%" :disabled="true">
                            <el-option
                                    v-for="(formtype,index) in format_type_list"
                                    :key="index"
                                    :label="formtype.label"
                                    :value="formtype.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </div>
                <div v-if="form.action!='withdraw service fee'&&form.action!=='transfer'" class="right">
                    <el-form-item :label="$t('dialog.user')+':'" prop="user">
                        <el-select v-model="form.id" clearable :placeholder="$t('dialog.pleasechoose')">
                            <el-option
                                    v-for="(item,index) in userInfo"
                                    :key="index"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-tag
                            style="margin-left: 10px"
                            v-if="this.tag!==''"
                            class="height"
                            :value="this.tag"
                            :disable-transitions="false"
                            @close="handleClose()">
                        {{this.tag}}
                    </el-tag>
                </div>
                <div v-if="this.$store.getters.userInfo.identity=='administrator'">
                    <div v-if="form.action=='transfer'" class="right">
                        <el-form-item :label="$t('dialog.sender')+':'" prop="sender">
                                <el-select v-model="form.id" clearable :placeholder="$t('dialog.pleasechoose')">
                                <el-option
                                        v-for="(item,index) in userInfo"
                                        v-if="!form.id1||(form.id1&&item.id!=form.id1)"
                                        :key="index"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-tag
                                style="margin-left: 10px"
                                v-if="this.tag!==''"
                                class="height"
                                :value="this.tag"
                                :disable-transitions="false"
                                @close="handleClose()">
                            {{this.tag}}
                        </el-tag>
                    </div>
                    <div v-if="form.action=='transfer'" class="right">
                        <el-form-item :label="$t('dialog.recipient')+':'" prop="recipient">
                            <el-select v-model="form.id1" clearable :placeholder="$t('dialog.pleasechoose')">
                                <el-option
                                        v-for="(item,index) in userInfo"
                                        v-if="!form.id||(form.id&&item.id!=form.id)"
                                        :key="index"
                                        :label="item.name"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-tag
                                style="margin-left: 10px"
                                v-if="this.tag2!==''"
                                class="height"
                                :value="this.tag2"
                                :disable-transitions="false"
                                @close="handleClose1()">
                            {{this.tag2}}
                        </el-tag>
                    </div>
                </div>
                <div v-if="this.$store.getters.userInfo.identity=='user'">
                    <div v-if="form.action=='transfer'" class="right">
                        <el-form-item :label="$t('dialog.sender')+':'" prop="sender">
                            <input type="hidden" v-model="form.id=this.$store.getters.userInfo.id"/>
                            <el-input
                                    :placeholder="this.$store.getters.userInfo.name"
                                    :disabled="true"
                                    clearable>
                            </el-input>
                        </el-form-item>
                        <el-tag
                                style="margin-left:10px"
                                v-if="this.tag!==''"
                                class="height"
                                :value="this.tag"
                                :disable-transitions="false"
                                @close="handleClose()">
                            {{this.tag}}
                        </el-tag>
                    </div>
                    <div v-if="form.action=='transfer'" class="right">
                        <el-form-item :label="$t('dialog.recipient')+':'" prop="phonenumber">
                            <el-input :placeholder="$t('dialog.pleaseenterthephonenumber')" v-model="form.phonenumber" clearable></el-input>
                        </el-form-item>
                        <el-tag
                                style="margin-left:10px"
                                v-if="this.tag1!==''"
                                class="height"
                                closable
                                :value="this.tag1"
                                :disable-transitions="false"
                                @close="handleClose1()">
                            {{this.tag1}}
                        </el-tag>
                    </div>
                </div>
                <el-form-item :label="$t('dialog.currency')+':'">
                    <template>
                        <el-radio-group v-model="form.radio" style="width: 100%">
                            <el-radio label="cn" value="cn">{{$t('dialog.cn')}}</el-radio>
                            <el-radio label="ph" value="ph">{{$t('dialog.ph')}}</el-radio>
                            <el-radio label="us" value="us">{{$t('dialog.us')}}</el-radio>
                        </el-radio-group>
                    </template>
                </el-form-item>
                <el-form-item prop='amount' :label="$t('dialog.amount')+':'">
                    <el-input v-model.number="form.amount"></el-input>
                </el-form-item>
                <div v-if="form.action=='deposit'" class="right1">
                    <el-form-item prop='rate' :label="$t('dialog.rate')+':'">
                        <el-input-number v-model="form.rate" :precision="2" :step="0.01" :max="5" :min="0"></el-input-number>
                    </el-form-item>
                    <el-form-item prop='profit' :label="$t('dialog.servicefee')+':'">
                        <el-input type="profit" v-model="form.profit" :disabled="true"></el-input>
                    </el-form-item>
                </div>
                <div v-if="this.$store.getters.userInfo.identity=='user'&&form.action=='transfer'">
                    <el-form-item prop='pass' :label="$t('dialog.password')+':'">
                        <el-input :placeholder="$t('dialog.pleaseenteryourpassword')" v-model="form.pass" show-password></el-input>
                    </el-form-item>
                </div>
                <div v-for="(source,index) in form.source" class="right1">
                    <el-form-item
                            :prop="'source.'+index+'.value'"
                            :label="$t('dialog.remarks')+(index+1)"
                            :key="source.key"
                            :rules="{required:true,message:$t('dialog.noteinformationcannotbeempty'),trigger:'blur'}">
                        <el-input v-model="source.value"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="text" size="medium" @click="delSource(source)"><i class="el-icon-delete"></i></el-button>
                    </el-form-item>
                </div>
                <el-form-item>
                    <el-button style="float:right" @click="addSource" size="medium" ><i class="el-icon-plus"></i>{{$t('dialog.addremarks')}}</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="info" plain style="float:right" @click='clearContent("form")'>{{$t('dialog.cancel')}}</el-button>
                    <el-button type="primary" plain style="float:right;margin-right: 20px" @click='onSubmit("form")'>{{$t('dialog.submit')}}</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-dialog>
</template>
<script>
    import Config from "../../../vue.config.js";
    export default {
        name:'dialogfound',
        props:{
            dialog:Object,
        },
        computed:{
            format_type_list(){
                return [{
                    value:'deposit',
                    label:this.$t('dialog.deposit'),
                },{
                    value:'withdraw',
                    label:this.$t('dialog.withdraw'),
                },{
                    value:'transfer',
                    label:this.$t('dialog.transfer'),
                },{
                    value:'withdraw service fee',
                    label:this.$t('dialog.withdrawservicfee'),
                }]
            }
        },
        data(){
            var amount = (rule, value, callback) => {
                var reg=/^[1-9]\d*$|^0$/;
                if (value === '') {
                    callback(new Error(this.$t('dialog.theamountcannotbeempty')));
                }else if(reg.test(value)!==true){
                    callback(new Error(this.$t('dialog.amountcanonlybeaninteger')));
                    setTimeout(this.setTimeAmount,"1000");
                }else if(value===0){
                    callback(new Error(this.$t('dialog.theamountcannotbe0')));
                }else if(this.form.action==='withdraw'){
                    currency=this.tag.replace(/,/g,'');
                    if(value>currency){
                        callback(new Error(this.$t('dialog.insufficientsurplus')));
                    }
                }else if(this.form.action==='transfer'&&this.$store.getters.userInfo.identity==='administrator'){
                    currency=this.tag.replace(/,/g,'');
                    if(value>currency){
                        callback(new Error(this.$t('dialog.insufficientsurplus')));
                    }
                }else if(this.form.action==='transfer'&&this.$store.getters.userInfo.identity==='user'){
                    currency=this.tag.replace(/,/g,'');
                    if(value>currency){
                        callback(new Error(this.$t('dialog.insufficientsurplus')));
                    }
                }else if(this.form.action==='withdraw service fee'){
                    var currency=this.$store.getters.userInfo.cnprofit;
                    if(this.form.radio==='ph'){
                        currency=this.$store.getters.userInfo.phprofit;
                    }else if(this.form.radio==='us'){
                        currency=this.$store.getters.userInfo.usprofit;
                    }
                    currency=currency.replace(/,/g,'');
                    if(value>currency){
                        callback(new Error(this.$t('dialog.insufficientservicefeebalance')));
                    }
                }
                callback();
            };
            var user=(rule, value, callback) => {
                if(this.form.id==='') {
                    callback(new Error(this.$t('dialog.userisempty')));
                }
                callback();
            };
            var pass=(rule, value, callback) => {
                if (value === '') {
                    callback(new Error(this.$t('dialog.passwordcannotbeblank')));
                }
                callback();
            };
            var user1=(rule, value, callback) => {
                if(this.form.id1==='') {
                    callback(new Error(this.$t('dialog.recipienttouserisempty')));
                }
                callback();
            };
            var phonenumber=(rule, value, callback) => {
                var reg=/^[0-9]\d*$|^0$/;
                if (value === '') {
                    this.tag1='';
                    this.form.id1='';
                    return callback(new Error(this.$t('dialog.recipienttouserisempty')));
                }else if(reg.test(value)!=true){
                    this.tag1='';
                    this.form.id1='';
                    callback(new Error(this.$t('dialog.phonenumbercanonlybeaninteger')));
                    return setTimeout(this.setTimeAmount,"1000");
                }
                for(var i=0;i<this.userInfo.length;i++){
                    if(this.userInfo[i].identity=='administrator'&&value==this.userInfo[i].number){
                        this.tag1='';
                        this.form.id1='';
                        callback(new Error(this.$t('dialog.unabletotransfertoadministrator')));
                        break;
                    }else if(value==this.$store.getters.userInfo.number){
                        this.tag1='';
                        this.form.id1='';
                        callback(new Error(this.$t('dialog.unabletotransfertomyself')));
                        break;
                    }else if(value==this.userInfo[i].number){
                        this.tag1=this.userInfo[i].name;
                        this.form.id1=this.userInfo[i].id;
                        this.form.phonenumber=value;
                        break;
                    }
                    else if(value!=this.userInfo[i].number){
                        this.tag1=this.$t('dialog.checknosuchperson');
                        this.form.id1='';
                        this.form.phonenumber='';
                    }
                }
                callback();
            };
            return {
                userInfo:[],
                tag:'',
                tag1:'',
                tag2:'',
                form:{
                    id:'',
                    id1:'',
                    action:'deposit',
                    radio:'cn',
                    amount:'1',
                    rate:'0',
                    profit:'',
                    phonenumber:'',
                    pass:'',
                    source:[],
                },
                formRules:{
                    amount:[{required:true,validator:amount,trigger:"change"}],
                    user:[{required:true,validator:user,trigger:'change'}],
                    sender:[{required:true,validator:user,trigger:'change'}],
                    recipient:[{required:true,validator:user1,trigger:'change'}],
                    phonenumber:[{required:true,validator:phonenumber,trigger:'blur'}],
                    pass:[{required:true,validator:pass,trigger:'blur'}],
                }
            };
        },
        methods: {
            clearContent(form){
                this.dialog.show = false;
                this.tag='';
                this.form.id='';
                this.tag1='';
                this.tag2='';
                this.form.id1='';
                this.form.action='deposit';
                this.form.radio='cn';
                this.form.amount='1';
                this.form.rate='0';
                this.form.profit='';
                this.form.phonenumber='';
                this.form.pass='';
                this.dialog.show = false;
                this.$emit("update");
                if(this.$refs[form]!==undefined){
                    this.$refs[form].resetFields();
                }
                this.form.source=[];
                /*if(res.data.identity=='user'){
                    this.form.id=res.data.id;
                    this.tag=res.data.cn;
                }*/
            },
            setTimeAmount(){
                this.form.amount=1;
                this.form.phonenumber='';
            },
            getCurrentOtherUserMoney2(otherUserId1){
                if(this.$store.getters.userInfo.identity=='administrator'){
                    for(var i=0;this.userInfo.length>i;i++){
                        if(otherUserId1==''){
                            this.tag2='';
                            break;
                        }
                        if(otherUserId1==this.userInfo[i].id){
                            if(this.form.radio=='cn'){
                                this.tag2=this.userInfo[i].cn;
                                break;
                            }else if(this.form.radio=='ph'){
                                this.tag2=this.userInfo[i].ph;
                                break;
                            }else if(this.form.radio=='us'){
                                this.tag2=this.userInfo[i].us;
                                break;
                            }
                        }
                    }
                    this.tag2=this.tag2.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                }
            },
            getCurrentOtherUserMoney(UserId){
                for(var i=0;this.userInfo.length>i;i++){
                    if(UserId==''){
                        this.tag='';
                        this.form.rate=0;
                        break;
                    }
                    if(UserId==this.userInfo[i].id){
                        if(this.form.radio=='cn'){
                            this.form.rate=this.userInfo[i].rate;
                            this.tag=this.userInfo[i].cn;
                            break;
                        }else if(this.form.radio=='ph'){
                            this.form.rate=this.userInfo[i].rate;
                            this.tag=this.userInfo[i].ph;
                            break;
                        }else if(this.form.radio=='us'){
                            this.form.rate=this.userInfo[i].rate;
                            this.tag=this.userInfo[i].us;
                            break;
                        }
                    }
                }
                if(this.$store.getters.userInfo.identity=='user'){
                    if(this.form.radio=='cn'){
                        this.tag=this.$store.getters.userInfo.cn;
                    }else if(this.form.radio=='ph'){
                        this.tag=this.$store.getters.userInfo.ph;
                    }else if(this.form.radio=='us'){
                        this.tag=this.$store.getters.userInfo.us;
                    }
                }
                this.tag=this.tag.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            },
            getCurrentOtherUserMoney1(chooseCurrency){
                if(this.form.id==''){
                    this.tag='';
                }
                if(this.form.id1==''){
                    this.tag2='';
                }
                for(var i=0;this.userInfo.length>i;i++){
                    if(this.form.id==this.userInfo[i].id){
                        if(chooseCurrency=='cn'){
                            this.tag=this.userInfo[i].cn;
                            break;
                        }else if(chooseCurrency=='ph'){
                            this.tag=this.userInfo[i].ph;
                            break;
                        }else if(chooseCurrency=='us'){
                            this.tag=this.userInfo[i].us;
                            break;
                        }
                    }
                }
                for(var i=0;this.userInfo.length>i;i++){
                    if(this.form.id1==this.userInfo[i].id){
                        if(chooseCurrency=='cn'){
                            this.tag2=this.userInfo[i].cn;
                            break;
                        }else if(chooseCurrency=='ph'){
                            this.tag2=this.userInfo[i].ph;
                            break;
                        }else if(chooseCurrency=='us'){
                            this.tag2=this.userInfo[i].us;
                            break;
                        }
                    }
                }
                if(this.$store.getters.userInfo.identity=='user'){
                    if(chooseCurrency=='cn'){
                        this.tag=this.$store.getters.userInfo.cn;
                    }else if(chooseCurrency=='ph'){
                        this.tag=this.$store.getters.userInfo.ph;
                    }else if(chooseCurrency=='us'){
                        this.tag=this.$store.getters.userInfo.us;
                    }
                }
                this.tag=this.tag.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                this.tag2=this.tag2.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            },
            handleClose() {
                this.tag='';
            },
            handleClose1() {
                this.tag1='';
            },
            delSource(source){
                var index=this.form.source.indexOf(source);
                if(index!==-1){
                    this.form.source.splice(index,1);
                }
            },
            addSource(){
                this.form.source.push({value:'',key:Date.now()});
            },
            getServiceFee(){
                this.form.profit=Math.ceil(this.form.amount * (this.form.rate/100));
            },
            onSubmit(form) {
                this.$refs[form].validate(valid => {
                    if(valid){
                        //表单数据验证完成之后，提交数据;
                        //const url =this.dialog.option == "add" ? "add" : `edit/${this.form.id}`;
                        //this.$axios.post(`/api/profile/${url}`, this.form)
                        this.$axios.post(Config.devServer.proxy["/api"].target+"addTheTransactionLog",this.form)
                            .then(res => {
                                if(res.data.code==402){
                                    return this.$message.error(res.data.msg);
                                }
                                this.$axios.post(Config.devServer.proxy["/api"].target+"user-info")
                                    .then(res=>{
                                        sessionStorage.setItem('userInfo',JSON.stringify(res.data.data));
                                        this.$store.dispatch("getCurrentUserInfo",res.data.data);
                                        this.tag='';
                                        this.form.id='';
                                        this.tag1='';
                                        this.tag2='';
                                        this.form.id1='';
                                        this.form.action='deposit';
                                        this.form.radio='cn';
                                        this.form.amount='1';
                                        this.form.rate='0';
                                        this.form.profit='';
                                        this.form.phonenumber='';
                                        this.form.pass='';
                                        this.dialog.show = false;
                                        this.$emit("update");
                                        if(this.$refs[form]!==undefined){
                                            this.$refs[form].resetFields();
                                        }
                                        this.form.source=[];
                                        if(res.data.data.identity=='user'){
                                            this.form.id=res.data.data.id;
                                            this.tag=res.data.data.cn;
                                        }
                                        // 操作成功
                                        this.$message({
                                            message:this.$t('dialog.savedsuccessfully')+'！',
                                            type: "success"
                                        });
                                        this.$axios.post(Config.devServer.proxy["/api"].target+"getAllUserInfo")
                                            .then(res=>{
                                                this.userInfo=res.data.data;
                                            });
                                    });
                            }).catch(res=>{
                            console.log('错误');
                        });
                    }
                });
            },
        },
        created(){
            this.$axios.post(Config.devServer.proxy["/api"].target+"getAllUserInfo")
                .then(res=>{
                    this.userInfo=res.data.data;
                });
        },
        watch:{
            'form.amount':function(){
                this.getServiceFee();
            },
            'form.rate':function(){
                if(isNaN(this.form.rate)){
                    this.form.rate='0'
                }
                this.getServiceFee();
            },
            'form.id':function(newVal,oldVal){
                this.getCurrentOtherUserMoney(newVal);
            },
            'form.id1':function(newVal,oldVal){
                this.getCurrentOtherUserMoney2(newVal);
            },
            'form.radio':function(newVal,oldVal){
                this.getCurrentOtherUserMoney1(newVal);
            }
        }
    };
</script>
<style scoped>
    .right{
        display: flex;
    }
    .right1{
        display: flex;
        justify-content: space-between;
    }
</style>
