<template>
    <div class="fillcontain">
        <div>
            <el-form
                    :inline="true"
                    ref="search"
                    :model="search">
                <el-form-item :label="$t('foundlist.filterbytime')+'：'">
                    <el-date-picker
                            size="mini"
                            v-model="search.startTime"
                            type="datetime"
                            :placeholder="$t('foundlist.choosestarttime')"
                            default-time="00:00:00">
                    </el-date-picker> ---
                    <el-date-picker
                            size="mini"
                            v-model="search.endTime"
                            type="datetime"
                            :placeholder="$t('foundlist.chooseendtime')"
                            default-time="23:59:59">
                    </el-date-picker>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" size ="mini" icon="search" @click='onSearch()'>{{$t('foundlist.filter')}}</el-button>
                </el-form-item>
                <el-form-item :label="$t('foundlist.search')+'：'" style="margin-left: 30px">
                    <el-input
                            size="mini"
                            v-model="input"
                            clearable>
                    </el-input>
                </el-form-item>
                <el-form-item class="btnRight" v-if="current.identity!='admin'">
                    <el-button type="primary" size="mini" icon="view" @click="onAddMoney()">{{$t('foundlist.addto')}}</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="table_container" v-if="this.$store.getters.userInfo&&this.current.identity">
            <el-table
                    size="mini"
                    :data="tableData"
                    style="width: 100%"
                    :max-height="tableHeight"
                    :default-sort="{prop:'created_at',order:'descending'}"
                    border>
                    <el-table-column type="expand" v-if="this.$store.getters.userInfo.identity!='admin'">
                        <template slot-scope="scope">
                            <el-form label-position="left" inline class="demo-table-expand">
                                <el-form-item :label="$t('foundlist.detailsnote')+'：'" v-if="scope.row.source==''">
                                    <span>{{$t('foundlist.nodatayet')}}</span>
                                </el-form-item>
                                <el-form-item :label="$t('foundlist.detailsnote')+'：'" v-else>
                                    <span>{{ scope.row.source }}</span>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="created_at"
                            :label="$t('foundlist.creationtime')"
                            align="center"
                            min-width="11%"
                            sortable>
                        <template slot-scope="scope">
                            <i class="el-icon-time"></i>
                            <span style="margin-left: 10px">{{ scope.row.created_at|deltime}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            v-if="this.$store.getters.userInfo.identity!='admin'"
                            prop="name"
                            :label="$t('foundlist.nickname')"
                            align="center"
                            min-width="10%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'nickname')">
                        <template slot-scope="scope">
                            <el-popover trigger="hover" placement="top">
                                <p>{{$t('foundlist.nickname')}}：{{scope.row.nickname}}</p>
                                <p>{{$t('foundlist.telephonenumber')}}：{{ scope.row.number }}</p>
                                <div slot="reference" class="name-wrapper">
                                    <el-tag size="medium">{{ scope.row.nickname }}</el-tag>
                                </div>
                            </el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="action"
                            :label="$t('foundlist.transactiontype')"
                            align="center"
                            min-width="13%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'action')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px" v-if="$i18n.locale=='en'">{{scope.row.action}}</span>
                            <span style="margin-left: 10px" v-if="$i18n.locale=='cn'">{{scope.row.action|langs}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="amount"
                            :label="$t('foundlist.amount')"
                            align="center"
                            min-width="10%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'amount')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px" v-if="scope.row.action=='deposit'">+{{scope.row.amount|numformat}}</span>
                            <span style="margin-left: 10px" v-if="scope.row.action=='withdraw'">{{scope.row.amount|numformat}}</span>
                            <span style="margin-left: 10px" v-if="scope.row.action=='withdraw service fee'">{{scope.row.amount|numformat}}</span>
                            <span style="margin-left: 10px" v-if="scope.row.transfer_role=='sender'">{{scope.row.amount|numformat}}</span>
                            <span style="margin-left: 10px" v-if="scope.row.transfer_role=='recipient'">+{{scope.row.amount|numformat}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="rate"
                            :label="$t('foundlist.rate')"
                            align="center"
                            min-width="7%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'rate')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{scope.row.rate|na}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="balance"
                            :label="$t('foundlist.balance')"
                            align="center"
                            min-width="10%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'balance')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{scope.row.balance|numformat}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="operator"
                            :label="$t('foundlist.operator')"
                            align="center"
                            min-width="9%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'operator')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{scope.row.operator}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="servicefee"
                            :label="$t('foundlist.servicefee')"
                            align="center"
                            min-width="10%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'profit')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{scope.row.profit|numformat}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            v-if="this.$store.getters.userInfo.identity!='user'"
                            prop="totalavailablebalance"
                            :label="$t('foundlist.totalavailablebalance')"
                            align="center"
                            min-width="16%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'total_balance')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{scope.row.total_balance|numformat}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            v-if="this.$store.getters.userInfo.identity!='admin'"
                            prop="source"
                            :label="$t('foundlist.remarks')"
                            align="center"
                            min-width="9%"
                            :sortable="true"
                            :sort-method="(a,b) => sortMethod(a,b,'source')">
                        <template slot-scope="scope">
                            <span style="margin-left: 10px">{{scope.row.source|ellipsis}}</span>
                        </template>
                    </el-table-column>
            </el-table>
            <el-row>
                <el-col :span="24">
                    <div class="pagination">
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="paginations.currentPage"
                                :page-sizes="paginations.pageSizes"
                                :page-size="paginations.pageSize"
                                :layout="paginations.layout"
                                :total="paginations.total">
                        </el-pagination>
                    </div>
                </el-col>
            </el-row>
        </div>
        <Dialog :dialog="dialog" @update="getProfile"></Dialog>
    </div>
</template>
<script>
    import VueEvent from "../../VueEvent.js";
    import Config from "../../../vue.config.js";
    import Dialog from "./Dialog.vue";
    import pinyin from "js-pinyin";
    export default {
        name:'fundlist',
        filters: {
            ellipsis(value){
                if(!value)return '';
                if(value.length>5) {
                    return value.slice(0,5)+'...';
                }
                return value
            },
            numformat(value){
                return value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
            },
            deltime(value){
                return /\d{4}-\d{1,2}-\d{1,2}/g.exec(value)[0]
            },
            na(value){
                if(value==0){
                    return "N/A";
                }else{
                    return value+"%";
                }
            },
            langs(value){
                if(value=='deposit'){
                    return "存款";
                }else if(value=='transfer'){
                    return "转账";
                }else if(value=='withdraw'){
                    return "提款";
                }else if(value=='withdraw service fee'){
                    return "提取手续费";
                }
            }
        },
        components:{
            Dialog
        },
        data(){
            return {
                input:"",
                search:{
                    startTime:'',
                    endTime:'',
                },
                tableHeight:0,
                paginations:{
                    currentPage:1,//当前页数
                    pageSizes:[25, 50, 100],//每页显示多少条
                    pageSize:25,//一页显示多少条
                    layout:"total,sizes,prev,pager,next,jumper",
                    total:0//总数
                },
                dialog:{
                    show:false,
                    title:'',
                    option:'edit',
                },
                form:{
                    action:'deposit',
                    describe:'',
                    income:'',
                    expend:'',
                    cash:'',
                    remark:'',
                    id:''
                },
                current:{
                    currency:'cn',
                    identity:'',
                    id:'',
                },
                allTableData:[],
                tableData:[],
                filterTableData:[],
                fuzzySearch:[],
                page:1,
            };
        },
        created(){
            this.getUserInfo();
        },
        methods:{
            sortMethod(a,b,column){
                if(column=='rate'||column=='amount'||column=='balance'||column=='profit'||column=='total_balance'){
                    return a[column]-b[column];
                }
                var at=pinyin.getCamelChars(a[column]);
                var bt=pinyin.getCamelChars(b[column]);
                if(at>bt){
                    return -1
                }else{
                    return 1
                }
            },
            searchFor(){
                if(this.input){
                    // filter()方法创建一个新的数组，新数组中的元素是通过检查指定数组中符合条件的所有元素。
                    // 注意：filter()不会对空数组进行检测。
                    // 注意：filter()不会改变原始数组。
                    this.allTableData=this.fuzzySearch.filter(data=>{
                        // some() 方法用于检测数组中的元素是否满足指定条件;
                        // some() 方法会依次执行数组的每个元素：
                        // 如果有一个元素满足条件，则表达式返回true , 剩余的元素不会再执行检测;
                        // 如果没有满足条件的元素，则返回false。
                        // 注意： some() 不会对空数组进行检测。
                        // 注意： some() 不会改变原始数组。
                        return Object.keys(data).some(key=>{
                            if(this.input=="存款"){
                                this.input='deposit';
                            }else if(this.input=="提款"){
                                this.input='withdraw';
                            }else if(this.input=="转账"){
                                this.input='transfer';
                            }else if(this.input=="取出手续费"){
                                this.input='withdraw service fee';
                            }
                            // indexOf() 返回某个指定的字符在某个字符串中首次出现的位置，如果没有找到就返回-1；
                            // 该方法对大小写敏感！所以之前需要toLowerCase()方法将所有查询到内容变为小写。
                            return String(data[key]).toLowerCase().indexOf(this.input)>-1
                        });
                    });
                    this.setPaginations();
                }
                if(this.input==''){
                    this.allTableData=this.fuzzySearch;
                    this.setPaginations();
                }
            },
            onSearch(){
                if(!this.search.startTime||!this.search.endTime){
                    this.$message({
                        type:"warning",
                        message:this.$t('foundlist.pleaseselectatimeperiod')
                    });
                    this.setPaginations();
                    return;
                }
                const stime = this.search.startTime.getTime();
                const etime = this.search.endTime.getTime();
                this.allTableData = this.filterTableData.filter(item => {
                    let date = new Date(item.created_at);
                    let time = date.getTime();
                    return time >= stime && time <= etime;
                });
                // 分页数据
                this.setPaginations();
            },
            getTheTransactionLog(){
                this.$axios.post(Config.devServer.proxy["/api"].target+'getTheTransactionLog',this.current)
                    .then(res=>{
                        //this.tableData=res.data;
                        this.allTableData = res.data.data;
                        this.filterTableData=res.data.data;
                        this.fuzzySearch=res.data.data;
                        //设置分页数据
                        this.setPaginations();
                    })
                    .catch(err=>console.log(err));
            },
            getUserInfo(){
                if(!this.$store.state.currency==''){
                    this.current.currency=this.$store.state.currency;
                }
                this.$axios.post(Config.devServer.proxy["/api"].target+"user-info")
                    .then(res=>{
                        VueEvent.$emit('identity',res.data.data.identity);
                        this.current.identity=res.data.data.identity;
                        this.current.id=res.data.data.id;
                        sessionStorage.setItem('userInfo',JSON.stringify(res.data.data));
                        this.$store.dispatch("getCurrentUserInfo",res.data.data);
                        if(res.data.data.defaulttag=="1"){
                            this.$message({
                                type:"success",
                                message:this.$t('foundlist.forsecurityreasonswerequirethatyouchangethedefaultpassword')
                            });
                            return this.$router.push('/infoshow')
                        }
                        this.getTheTransactionLog();
                    }).catch(err=>{
                        console.log(err);
                });
            },
            getProfile(){
                this.$axios.post(Config.devServer.proxy["/api"].target+'getTheTransactionLog',this.current)
                    .then(res=>{
                        this.allTableData=res.data.data;
                        this.filterTableData = res.data.data;
                        this.fuzzySearch = res.data.data;
                        //设置分页数据
                        this.setPaginations();
                    })
                    .catch(err=>console.log(err));
            },
            setPaginations(){
                //分页属性设置
                this.paginations.total=this.allTableData.length;
                this.paginations.currentPage=this.page;
                this.paginations.pageSize=25;
                if(this.paginations.currentPage>1){
                    this.handleCurrentChange(this.paginations.currentPage);
                }else if(this.paginations.currentPage==1){
                    //设置默认的分页数据
                    this.tableData=this.allTableData.filter((item,index)=>{
                        return index<this.paginations.pageSize;
                    })
                }
            },
            handleCurrentChange(page) {
                // 当前页
                this.page=page;
                let sortnum = this.paginations.pageSize * (page - 1);
                let table = this.allTableData.filter((item, index) => {
                    return index >= sortnum;
                });
                // 设置默认分页数据
                this.tableData = table.filter((item, index) => {
                    return index < this.paginations.pageSize    ;
                });
            },
            handleSizeChange(val) {
                //切换size
                this.paginations.currentPage=1;
                this.paginations.pageSize=val;
                this.tableData=this.allTableData.filter((item,index)=>{
                    return index<val;
                });
            },
            onAddMoney(){
                this.dialog = {
                    show:true,
                    title:this.$t('foundlist.addfunds'),
                    option:'add'
                };
            },
            start(v){
                if(v==null&&this.search.endTime==null){
                    this.allTableData=this.fuzzySearch;
                    this.setPaginations();
                }
            },
            end(v){
                if(v==null&&this.search.startTime==null){
                    this.allTableData=this.fuzzySearch;
                    this.setPaginations();
                }
            }
        },
        watch:{
            input:function(){
                this.searchFor();
            },
            'search.startTime':function(v){
                this.start(v);
            },
            'search.endTime':function(v,o){
                this.end(v);
            }
        },
        mounted(){
            this.$nextTick(()=>{
                this.tableHeight=window.innerHeight-200;
            });
            var that=this;
            VueEvent.$on('current',function(data){
                that.current.currency=data.currency;
                that.current.identity=that.$store.getters.userInfo.identity;
                that.current.id=that.$store.getters.userInfo.id;
                that.$axios.post(Config.devServer.proxy["/api"].target+'getTheTransactionLog',that.current)
                    .then(res=>{
                        that.allTableData=res.data.data;
                        //设置分页数据
                        that.setPaginations();
                    })
                    .catch(err=>console.log(err));
            });
        },
    }
</script>
<style scoped>
    .el-table th.gutter,
    .el-table colgroup.gutter{
        display: table-cell!important;
    }
    .fillcontain {
        width: 100%;
        height: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
    .btnRight {
        float: right;
    }
    .pagination {
        text-align: right;
        margin-top: 10px;
    }
</style>
