<template>
    <div id="app">
        <router-view></router-view>
    </div>
</template>
<script>
import Layout from './components/layout/index.vue'
//import Login from './components/login/index.vue'
export default {
    name: 'app',
    components: {
      Layout,
      //Login
    },
}
</script>
<style>
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #fff;
    }
    .el-table th.gutter,
    .el-table colgroup.gutter{
        display: table-cell!important;
    }
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: rgba(0, 0, 0, .1)
    }
    .height{
        height: 41px!important;
    }
    html,
    body,
    #app{
        width: 100%;
        height: 100%;
    }
</style>

